body {
    display: flex;
    margin: 0;
    font-family: "Zen Maru Gothic", serif;
}

main {
    margin-left: 3em; /* サイドバーの幅に合わせて調整 */
    padding: 20px;
    width: calc(100% - 250px); /* サイドバーの幅を引いた残りの幅 */
    box-sizing: border-box; /* パディングとボーダーを幅に含める */
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color:rgb(241, 235, 212);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* パディングを含む総幅をwidthにする */
}


.sidebar-header {
    margin-bottom: 40px;
}

.search-container {
    margin-bottom: 20px;
}

.search-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccccccb1; 
    border-radius: 5px;
    box-sizing: border-box; /* パディングとボーダーを含む総幅をwidthにする */
}

.create-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #feaf39;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.create-button:hover {
    background-color: #ffd12c;
}

.settings-container {
    padding: 15px;

}

/* トグルスイッチのスタイル */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e7cf72;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #aade79;
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  body.dark-mode {
    background-color: #323131;
    color: #ffffff;
  }
  
  body.dark-mode .sidebar {
    background-color: #242424;
  }
  
  body.dark-mode .menu a {
    color: #ffffff;
  }


/* タイトルのスタイル */
.label-title {
    font-size: 16px; 
    font-weight: bold; /* 太字にする */
    margin-bottom: 5px; /* 下に少し余白を追加 */
    display: block; /* ブロックレベル要素にする */
}

/* フォームの要素をラップするコンテナ */
.form-section {
    margin-bottom: 20px; /* 各セクションの間に余白を追加 */
}

/* タイトルと入力フィールドを含むラップするコンテナのスタイル */
.form-group {
    display: flex;
    align-items: center; /* 垂直方向の中央に揃える */
    margin-bottom: 10px; /* グループ間の余白 */
}

.form-group label {
    flex-basis: 20%; /* ラベルの幅を決定 */
    margin-right: 10px; /* ラベルと入力フィールドの間隔 */
}

.form-group input,
.form-group select,
.form-group textarea {
    flex-grow: 1; /* 残りのスペースを入力フィールドが取るようにする */
}


.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li a {
    display: block;
    text-align: center;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

.menu li a:hover {
    border-radius: 40px;
    background-color: #ffffff94;
}

.content {
    flex-grow: 1;
    padding: 20px;
}


.ingredient-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ingredient-input {
    flex: 1; /* 入力フィールドを可能な限り広げる */
    margin-right: 8px; /* 削除ボタンとの間隔 */
    padding: 8px; /* 入力フィールド内の余白 */
    font-size: 16px; /* テキストのサイズ */
    border: 1px solid #ddd; /* ボーダーのスタイル */
    border-radius: 4px; /* 角の丸み */
}

.delete-ingredient {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px; /* アイコンのサイズ */
}

.tag-input-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tag-input {
    flex: 1;
    border: none;
    padding: 5px;
    height: 38px;
    font-size: 14px;
}

.tag-input:focus {
    outline: none;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.tag {
    display: flex;
    align-items: center;
    height: 32px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0 8px;
    font-size: 14px;
    background: #eeeeee;
    border-radius: 16px;
    line-height: 18px;
}

.remove-tag {
    display: block;
    margin-left: 8px;
    cursor: pointer;
}

button {
    border: none;
    border-radius: 40px; 
    padding: 10px 20px; 
    background-color: #feaf39; 
    color: white; 
    cursor: pointer; 
    font-size: 16px; /* フォントサイズ */
    margin: 5px; /* ボタン間の余白 */
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #ffd12c; 
}

/* クリックイベントに対する特定のボタンのスタイルを変更する場合 */
.save-button {
    background-color: #feaf39; 
}

.delete-button {
    background-color: #d9534f; 
}

.delete-button:hover {
    background-color: #fd6d68; 
}

.button-group {
    display: flex;
    justify-content: flex-end; /* ボタンを右寄せにする */
    margin-top: 20px; /* 上部に余白を追加 */
}

.save-button, .draft-button, .delete-button {
    margin-left: 10px; /* ボタン間の余白を追加 */
}

  
#ratingComment {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-layout {
    display: flex;
}

.left-column,
.right-column {
    flex: 1; /* 左右カラムに同じ幅を割り当てる */
}

/* 必要に応じて左右のカラムにマージンやパディングを追加 */
.left-column {
    margin-right: 20px; /* 右カラムとの間隔 */
}

.right-column {
    margin-left: 20px; /* 左カラムとの間隔 */
}

.form-group textarea {
    width: 100%; /* テキストエリアを親要素の幅に合わせる */
    height: 150px; /* または必要に応じて */
}

.recipe-item {
    cursor: pointer;
    border-radius: 40px;
    background-color: #ffffff94;
    padding: 10px; /* パディングを追加してテキストに余白を与える */
    margin: 5px 0; /* リストアイテム間に余白を与える */
    list-style-type: none; /* リストのデフォルトスタイルを削除 */
    transition: background-color 0.3s; /* ホバー時の背景色変化を滑らかに */
}

.recipe-item:hover {
    background-color: #ffffff; /* ホバー時の背景色 */
}

.delete-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #ff0000; /* 赤色の x を表示 */
    font-weight: bold;
    font-size: 16px; /* x のサイズ */
    border-radius: 50%; /* ボタンを円形に */
    width: 20px; /* ボタンの幅 */
    height: 20px; /* ボタンの高さ */
    line-height: 20px; /* テキストをボタンの中央に配置 */
    text-align: center;
    padding: 0;
    margin-left: 10px; /* リストアイテムテキストとの間隔 */
    display: inline-block; /* インライン要素のように扱う */
}

.delete-btn:hover {
    background-color: #f3f3f3; /* 背景色を変更 */
}

.button-like {
    border: 2px solid #8a8a8a;
    background-color: transparent;
    text-decoration: none;
    padding: 1rem;
    position: relative;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    border-radius: 3rem;
    color: #8a8a8a;
    transition: all ease 0.4s;
  }
  
  .button-like span {
    margin-left: 0.5rem;
  }
  
  /* お気に入りボタンのFontAwesomeアイコン専用のスタイル */
  .button-like .fa-heart {
    transition: all ease 0.4s;
  }
  
  .button-like:focus {
    background-color: transparent;
  }
  
  .button-like:focus .fa,
  .button-like:focus span {
    color: #8a8a8a;
  }
  
  .button-like:hover {
    border-color: #cc4b37;
    background-color: transparent;
  }
  
  .button-like:hover .fa,
  .button-like:hover span {
    color: #cc4b37;
  }
  
  .liked {
    background-color: #cc4b37;
    border-color: #cc4b37;
  }
  
  .liked .fa,
  .liked span {
    color: #fefefe;
  }
  
  .liked:focus {
    background-color: #cc4b37;
  }
  
  .liked:focus .fa,
  .liked:focus span {
    color: #fefefe;
  }
  
  .liked:hover {
    background-color: #cc4b37;
    border-color: #cc4b37;
  }
  
  .liked:hover .fa,
  .liked:hover span {
    color: #fefefe;
  }